.header {
  padding: 22px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  @include mobile {
    padding: 13px 0;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/bg@2x.jpg');
  }

  &--fixed {
    position: fixed;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}