.projects {
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    margin-top: 54px;
    display: flex;
    justify-content: center;
  }

  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: lighten($blue, 20%);
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: rgba($blue, 50%);
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
  }
}