html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: $source-sans;
  color: $dark-blue;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.6;
  background-color: #fff;

  @include mobile {
    font-size: 1.7rem;
    line-height: 1.5;
  }


  &.no-scroll {
    overflow: hidden;
  }

  &.show-sidebar {
    overflow: hidden;
  }

}

.main__wrapper {
  padding: 55px 0;

  @include laptop {
    padding: 50px 0;
  }

  @include tablet {
    padding: 40px 0;
  }

  @include mobile-large {
    padding: 35px 0;
  }
}

footer {
  margin-top: auto;
}

.hidden-title {
  visibility: hidden;
  height: 0;
}

.page-mask {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-left: auto;
  height: 100%;
  background-color: rgba(0,0,0, 0);
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  transition: all .2s linear;


  .show-sidebar & {
    background-color: rgba(0,0,0,.2);
    z-index: 8;
  }
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.link-decor-on-hover {
  &:hover {
    text-decoration: underline;
  }
}


.link {
  display: flex;
  align-items: center;
  font-family: $DMSans;
  font-size: 2rem;
  font-weight: 600;
  color: $black;
  @extend .text-overflow;
  transition: color .2s linear;

  @include mobile-large {
    font-size: 1.8rem;
  }

  &:hover {
    color: $blue;
  }

  &--in {
    justify-content: flex-end;
    &::after {
      content: '>';
      display: block;
    }
  }

  &--out {
    max-width: calc(100% - 22rem);
    justify-content: flex-start;

    &::before {
      content: '<';
      display: block;
      margin-right: 1rem;

      @include mobile-large {
        margin-right: .5rem;
      }
    }

    @include mobile {
      max-width: 100%;
    }
  }
}