//breakpoints
$widescreen: 1440px;
$laptop: 1200px;
$tablet: 992px;
$mobile-large: 768px;
$mobile: 576px;

//colors
$blue: #4A72FF;
$focused-blue: #486CEB;
$hovered-blue: #3259E5;
$dark-blue: #0C1B4D;
$grey: #454545;
$yellow: #F2E03C;
$shadow-blue: #262D76;
$black: #212121;


$green: #00D084;
$white: #F4F7FF;
$bg-white: #F4F7FA;


$black: #000;


//fonts
$source-sans: 'Source Sans Pro', sans-serif;
$DMSans: 'DM Sans', sans-serif;
$inter: 'Inter', sans-serif;
$poppins: "Poppins", sans-serif;

//others