.banner {
  padding: 116px 0 60px 0;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/bg@2x.jpg');
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
  }

  &__info {
    flex-basis: 526px;
  }

  &__img-wrapper {
    position: relative;
    flex-grow: 1;
    background-color: transparent;
    flex-basis: calc(100% - 626px);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 120px;
      width: 120px;
      background-image: url("../images/img-decor.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  &__img {
    display: block;
    border-radius: 50%;
    position: relative;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      height: 120px;
      width: 120px;
      background-color: black;
      //background-image: url("../images/round.png");
      //background-repeat: no-repeat;
      //background-size: cover;
      //background-position: center;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__siteinfo {
    display: flex;
    gap: 86px;
  }
}