.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  font-family: $source-sans;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  border-radius: 6px;
  flex-shrink: 0;
  @extend .text-overflow;

  &--small {
    padding: 10px 25px;
  }

  &--default {
    padding: 15px 45px;
  }

  &--blue {
    background-color: $blue;
    box-shadow: 0 30px 60px 0 rgba($blue, 0.25);
    color: $white;
    transition: background-color .2s linear;

    &:hover {
      background-color: $hovered-blue;
    }

    &:focus {
      background-color: $focused-blue;
    }
  }

  &--light {
    color: $blue;
    background-color: rgba(#4A72FF0D, .05);
    transition: background-color .2s linear;

    &:focus {
      background-color: rgba(#4A72FF0D, .07);
    }

    &:hover {
      background-color: rgba(#4A72FF0D, .1);
    }
  }

  &--email::after {
    content: ">";
  }
}