.btn {
  $root: &;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  font-size: 18px;
  font-family: $source-sans;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  width: min-content;
  border-radius: 6px;
  flex-shrink: 0;
  @extend .text-overflow;

  &--small {
    padding: 10px 25px;
  }

  &--default {
    padding: 16px 45px;
  }

  &__icon {
    width: 21px;
    height: 21px;
    transition: all .2s linear;
  }

  &--book {
    width: 100%;
    #{$root} {
      &__icon {
        width: 20px;
        height: 18px;
      }
    }
  }

  &--shop {
    #{$root} {
      &__icon {
        fill: transparent;
        stroke: #fff;
      }
    }
  }

  &--send {
    #{$root} {
      &__icon {
        fill: transparent;
        stroke: $blue;
      }
    }
  }

  &--email {
    #{$root} {
      &__icon {
        fill: $blue;
      }
    }
  }

  &--blue {
    background-color: $blue;
    box-shadow: 0 30px 60px 0 rgba($blue, 0.25);
    color: $white;
    transition: background-color .2s linear;

    &:hover {
      background-color: $hovered-blue;
      box-shadow: none;
    }

    &:focus {
      background-color: $focused-blue;
    }
  }

  &--dark-blue {
    background-color: #473BF0;
    color: $white;
    transition: background-color .2s linear;

    &:focus {
      background-color: #3C30EA;
    }

    &:hover {
      background-color: #2D20DF;
    }
  }

  &--white {
    background-color: #fff;
    color: $blue;
    box-shadow: 0 30px 60px 0 rgba($shadow-blue, 25%);
    transition: color .2s linear;

    &:focus {
      color: #3C30EA;

      .btn__icon {
        stroke: #3C30EA;
      }
    }

    &:hover {
     color: #2D20DF;

      .btn__icon {
        stroke: #2D20DF;
      }
    }
  }

  &--light {
    color: $blue;
    background-color: rgba(#4A72FF0D, .05);
    transition: background-color .2s linear;

    &:focus {
      background-color: rgba(#4A72FF0D, .07);
    }

    &:hover {
      background-color: rgba(#4A72FF0D, .1);
    }
  }
}