.c-form {
  $root: &;

  &__group {
    display: flex;
    gap: 62px;

    &:first-child {
      margin-bottom: 28px;
    }
  }

  &__label {
    position: relative;
    width: 100%;
  }

  &__icon {
    fill: rgba(#fff, 50%);
    width: 18px;
    height: 18px;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    transition: .2s;
  }

  &__input {
    font-family: $source-sans;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.66;
    color: #fff;
    cursor: text;
    padding: 5px 40px;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid rgba(#fff, 50%);

    &:-webkit-autofill {
      transition: all 5000s ease-in-out;
      background-color: transparent !important;
    }

    &::placeholder {
      font-family: $source-sans;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.66;
      color: rgba(#fff, 50%);
    }

    &:hover {

    }

    &:focus {
      border-bottom-color: #fff;
      &::placeholder {
        color: transparent;
      }
      ~ .c-form__icon {
        fill: #fff;
      }
    }
  }
}