.logo {
  display: flex;
  flex-shrink: 0;
  max-width: 280px;

  @include mobile {
    width: 60px;
    height: 60px;
  }

  img {
    display: block;
    @extend .img-cover;

    &:first-child {
      @include mobile {
        display: none;
      }
    }

    &:last-child {
      display: none;

      @include mobile {
        display: inline-block;
      }
    }
  }
}