.modal-swiper {
  position: relative;
  height: 700px;

  @include laptop {
    height: 630px;
  }

  @include tablet {
    height: 510px;
  }

  @include mobile-large {
    height: 390px;
  }

  @include mobile {
    height: 250px;
  }


  .swiper {
    height: 100%;
  }

  .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__img {
    @extend .img-cover;
    object-position: top;
  }

}
.modal__body {
  .banner__actions {
    margin-bottom: 0;

    @include mobile {
      flex-direction: column;
    }

    .btn {
      @include mobile {
        width: 90%;
      }
    }
  }
}
.modal__right {
  max-height: 700px;
}
