.nav {
  $root: &;
  padding: 0 30px;
  flex-grow: 1;

  @include laptop {
    padding: 0 24px;
  }

  @include tablet {
    display: none;
  }

  &--sidebar {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 20px;

    #{$root} {
      &__list {
        flex-direction: column;
      }

      &__item {
        font-size: 20px;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 65px ;

    @include laptop {
      gap: 20px 40px ;
    }
  }

  &__item {
    color: $dark-blue;
    font-size: 16px;
    line-height: 1.2;
    text-transform: capitalize;
    @extend .text-overflow;

    &:hover {
      color: $black;
    }

    &--active {
      font-weight: 600;
    }
  }
}