.section {
  padding: 55px 0;

  &--nopading {
    padding: 0;
  }

  &__header {
    max-width: 536px;
    margin: 0 auto 32px auto;
    text-align: center;

    &--left {
      margin-left: 0;
      margin-right: 0;
      text-align: left;
    }

  }

  &__title {
    font-family: $DMSans;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__subtitle {

  }
}