.section {
  padding: 55px 0;

  @include laptop {
    padding: 50px 0;
  }

  @include tablet {
    padding: 40px 0;
  }

  @include mobile-large {
    padding: 35px 0;
  }

  &--nopading {
    padding: 0;
  }

  &__header {
    max-width: 60%;
    margin: 0 auto 32px auto;
    text-align: center;

    @include mobile-large {
      max-width: 78%;
    }

    @include mobile {
      max-width: 90%;
    }

    &--left {
      margin-left: 0;
      margin-right: 0;
      text-align: left;
    }

  }

  &__title {
    font-family: $DMSans;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;

    @include tablet {
      margin-bottom: 12px;
    }

    @include mobile {
      font-size: 23px;
    }
  }
}