.sidebar {
  height: auto;
  padding: 5rem 4rem 4rem 5rem;
  position: fixed;
  right: 0;
  top: 85px;
  z-index: 10;
  border-radius: 0 0 0 12px;
  box-shadow: 0 10px 50px 0 rgba(255, 255, 255, 0.28);
  background-color: #fff;
  transform: translateX(101%);
  transition: transform .3s linear;

  &__icon {
    position: absolute;
    left: 1.6rem;
    top: 1.6rem;
    width: 2.2rem;
    height: 2.2rem;
    stroke: $dark-blue;
    fill: $dark-blue;
    cursor: pointer;
    transform: rotate(-10deg);
    transition: transform .2s linear;

    &:hover {
      transform: rotate(0);
    }
  }

  .show-sidebar & {
    transform: translateX(0);
  }
}