.who-card {
  background-color: #fff;
  color: $black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-60%, -50%);
  padding: 24px;
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 32px 54px 0 rgba(#0F0E23, 20%);
  border-radius: 20px;

  @include mobile {
    border-radius: 14px;
    transform: translate(-50%, -50%);
  }

  &__author {
    display: flex;
    gap: 14px;
    margin-bottom: 24px;
  }

  &__avatar {
    width: 80px;
    height: 80px;
    flex-shrink: 0;

    img {
      border-radius: 50%;
      @extend .img-cover;
    }
  }

  &__name {
    font-size: 22px;
    line-height: 1.2;
    @extend .text-overflow;
  }

  &__email {
    color: rgba($black, 30%);
    line-height: 1.2;
    font-size: 14px;
    @extend .text-overflow;
  }

  &__position {
    color: rgba($black, 50%);
    @extend .text-overflow;
  }


  &__info {
    border: 1px solid grey;
    border-radius: 8px;
  }

  &__info-top {
    display: flex;
    border-bottom: 1px solid grey;
  }

  &__info-top-item {
    padding: 10px 14px;
    flex-grow: 1;
    flex-basis: 50%;
    &:last-child {
      border-left: 1px solid grey;
    }
  }

  &__invites-number {
    display: flex;
    align-items: center;
    color: #473BF0;
    font-size: 26px;
    font-weight: 600;
  }

  &__pending-number {
    display: flex;
    align-items: center;
    color: #68D585;
    font-size: 26px;
    font-weight: 600;
  }

  &__info-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__info-bottom-text {
    padding: 10px 14px;
  }

  &__graph {
    max-height: 50px;
    border-radius: 0 0 8px 8px;
    @extend .img-cover;

  }
}