<div class="modal modal--project" id="modalProject-3">
    <div class="modal__dialog">

        <button type="button" class="modal__close">
            <svg class="modal__close-svg">
                <use href="./assets/images/icons.svg#icon-times-circle-solid"></use>
            </svg>
        </button>
        <!--/modal__close-->

        <div class="modal__body">
            <div class="modal__left">
                <h3 class="modal__title">Construction Inc</h3>
                <h5 class="modal__subtitle">Construction template</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate debitis ea eligendi expedita facere illo incidunt laboriosam odio odit, pariatur provident quaerat quibusdam repudiandae suscipit totam ullam ut voluptate.</p>
                <p><a target="_blank" href="https://www.figma.com/design/b1VouCuMavpZr29qhxBbKf/Web-Design-for-Construction-Company-(Community)?node-id=0-1&t=FvLjSkkE15U3Mn1J-0">Link to figma design</a></p>
                <div class="banner__actions">
                    <button class="btn btn--default btn--blue btn--shop" type="button" data-modal="#modalShopping">
                        <span>Shop</span>
                        <svg class="btn__icon">
                            <use href="./assets/images/icons.svg#icon-arrow-right-circle"></use>
                        </svg>
                    </button>
                    <button class="btn btn--default btn--light btn--email" type="button">
                        <span>Phone Us</span>
                        <svg class="btn__icon">
                            <use href="./assets/images/icons.svg#icon-phone"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <!--/shop__left-->
            <div class="modal__right">
                <section class="modal-swiper">
                    <div class="swiper projectsSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="modal-swiper__img" src="./assets/images/construction-5.jpg" alt="const-1">
                            </div>
                            <!--/swiper-slide-->
                            <div class="swiper-slide">
                                <img class="modal-swiper__img" src="./assets/images/construction-1.jpg" alt="consulting-2">
                            </div>
                            <!--/swiper-slide-->
                            <div class="swiper-slide">
                                <img class="modal-swiper__img" src="./assets/images/construction-2.jpg" alt="consulting-3">
                            </div>
                            <!--/swiper-slide-->
                            <div class="swiper-slide">
                                <img class="modal-swiper__img" src="./assets/images/construction-3.jpg" alt="consulting-4">
                            </div>
                            <!--/swiper-slide-->
                            <div class="swiper-slide">
                                <img class="modal-swiper__img" src="./assets/images/construction-4.jpg" alt="consulting-5">
                            </div>
                            <!--/swiper-slide-->
                            <div class="swiper-slide">
                                <img class="modal-swiper__img" src="./assets/images/construction-6.jpg" alt="consulting-5">
                            </div>
                            <!--/swiper-slide-->
                            <div class="swiper-slide">
                                <img class="modal-swiper__img" src="./assets/images/construction-7.jpg" alt="consulting-5">
                            </div>
                            <!--/swiper-slide-->
                            <div class="swiper-slide">
                                <img class="modal-swiper__img" src="./assets/images/construction-8.jpg" alt="consulting-5">
                            </div>
                            <!--/swiper-slide-->
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </section>
            </div>
            <!--/shop__right-->
        </div>
        <!--/shop-->
    </div>
    <!--/modal__dialog-->
</div>